@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ristorante I Fichi Secchi</h1>
    <hr />
    <p><a href="/Home/AllMenus" class="btn btn-primary btn-lg">I Nostri Menu &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Menu del Giorno</h2>
        <p>Scopri il Menu del Giorno!</p>
        <p><a class="btn btn-default" href="/Home/MenuGiorno">Scopri il Menu &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Vieni a trovarci!</h2>
        <br />
        <p><a class="btn btn-default" href="/Home/DoveSiamo">Dove Siamo &raquo;</a></p>
    </div>
</div>